<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/../Twitter/index.php">myTwitter</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/../Twitter/subpages/messages.php"><span class="glyphicon glyphicon-envelope"></span> Messages</a></li>
            <li><a href="/../Twitter/subpages/account.php"><span class="glyphicon glyphicon-user"></span> Account</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/../Twitter/subpages/logout.php"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
<div style="height: 70px;"></div>
